# ignore all npy chkpt pth chkpt and logs dir
*.npy
*.chkpt
*.pth
logs/
__pycache__/
# ignore all .pyc files
*.pyc
# ignore all .pkl files
*.pkl
*.pdf
*.jpg
*.png

*.txt
*.mp4
*.avi
*.html
*.png
*.jpg
*.npz
*.npy
*.csv
*.xlsx
*.pdf
*.joblib


.gitignore
